.gauge-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    margin: 0 auto;
}

.gauge-svg {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.gauge-progress {
    transition: stroke-dashoffset 0.6s ease-in-out, stroke 0.6s ease-in-out;
}

.gauge-label {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gauge-score {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
}

.gauge-text {
    font-size: 0.75rem;
    color: #706e6b;
    margin-top: 0.25rem;
}
