.mfa-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
}

.mfa-svg {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.mfa-progress {
    transition: stroke-dashoffset 0.6s ease-in-out, stroke 0.6s ease-in-out;
}

.mfa-label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mfa-percentage {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
}
